# Ignorar entornos virtuales
venv/

# Ignorar archivos de caché de Python
__pycache__/
*.py[cod]

# Ignorar migraciones compiladas
migrations/

# Ignorar archivos de caché en directorios específicos
backend/app/__pycache__/
backend/app/api/__pycache__/
backend/app/controllers/__pycache__/
backend/app/domain/__pycache__/
backend/app/domain/entities/__pycache__/
backend/app/domain/repositories/__pycache__/
backend/app/domain/services/__pycache__/
backend/migrations/__pycache__/
backend/migrations/versions/__pycache__/

.env
